<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap Register Form Template</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/background.css">
	<link rel="stylesheet" href="/css/form.css">
	<link rel="stylesheet" href="/css/footer.css">
</head>

<body>
	<div id="app">
		<div class="contenido">
			<h1 class="negrita">Editar
				<div>
					<h1>usuario</h1>
				</div>
			</h1>
			<p> This is a free responsive Register form made with Boostrap, Dowload it on <strong>AZMIND</strong>, customize
				it
				and
				use as you like!</p>
			<div class="form_container">
				<div class="form-box">
					<div class="form-header">
						<div class="form-info">
							<h3>Edit</h3>
							<p>Enter the name, username and password you want to edit</p>
						</div>
					</div>
					<div class="form-body">
						<form role="form" th:action="@{/usuario/editar/{id} (id=${usuario.id})}" method="post" th:object="${usuario}" class="Register-form">
							<div class="form-group">
								<label class="label-sr" for="full-name">full-name</label>
								<input type="text" th:field="*{full_name}" placeholder="Full name" class="form-control"
									id="full-name" />
								<div class="error-message" th:if="${#fields.hasErrors('full_name')}" th:errors="*{full_name}"></div>
							</div>
							<div class="form-group">
								<label class="label-sr" for="form-username">Username</label>
								<input type="text" th:field="*{username}" placeholder="Username" class="form-control"
									id="form-username" />
									<div class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
							</div>
							<div class="form-group">
								<label class="label-sr" for="form-password">Password</label>
								<input type="password" th:field="*{password}" placeholder="Password" class="form-control"
									id="form-password" />
								<div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
							</div>
							<button type="submit" class="btn">Edit!</button>
						</form>
					</div>
				</div>
			</div>			
		</div>
	</div>
</body>

</html>